<header>
  <img src="assets/imgs/eduardo.jpg" alt="Eduardo Godoi" loading="eager"/>
  <h1>Eduardo Krakhecke Godoi</h1>
</header>
<aside>
  <div class="container">
    <p>Desenvolvedor Frontend | Angular | ReactJs </p>
    <p>Novo Hamburgo Rio Grande do Sul | Remoto</p>
    <p></p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/curriculoEduardo24.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/eduardo-krakhecke-godoi-173933107/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="icone para contado do whatsapp" width="22px" height="24px"/>
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5551980131506&text=Ol%C3%A1%20Eduardo,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (51) 980131506</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg" alt="icone para contado e-mail" width="22px" height="24px"/>
        <figcaption>
          <a
            href="mailto:eduardokg.mi6@gmail.com"
            target="_blank"
          >
            <strong>Envie uma e-mail para:</strong>
            <p>eduardokg.mi6&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
